In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#sns.set(style="whitegrid")
import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv('lacity.org-website-traffic.csv')

In [11]:
df.head()

,Date,Device Category,Browser,# of Visitors,Sessions,Bounce Rate
0,2014-01-01T00:00:00.000,desktop,Chrome,900,934,55.5675
1,2014-01-01T00:00:00.000,desktop,Firefox,692,761,40.8673
2,2014-01-01T00:00:00.000,desktop,Internet Explorer,1038,1107,31.2556
3,2014-01-01T00:00:00.000,desktop,Opera,35,35,100.0000
4,2014-01-01T00:00:00.000,desktop,Safari,484,554,24.9097

In [12]:
# Check for missing values
print(df.isnull().sum())

# Check data types
print(df.dtypes)

# Summary statistics of the DataFrame
print(df.describe(include='all'))

Date               0
Device Category    0
Browser            0
# of Visitors      0
Sessions           0
Bounce Rate        0
dtype: int64
Date                object
Device Category     object
Browser             object
# of Visitors        int64
Sessions             int64
Bounce Rate        float64
dtype: object
                           Date Device Category  Browser  # of Visitors  \
count                   8348985         8348985  8348985   8.348985e+06
unique                     2065               3       59            NaN
top     2017-01-15T00:00:00.000          mobile   Safari            NaN
freq                       6510         3281337  1769764            NaN
mean                        NaN             NaN      NaN   6.150075e+02
std                         NaN             NaN      NaN   9.586180e+02
min                         NaN             NaN      NaN   3.500000e+01
25%                         NaN             NaN      NaN   4.000000e+01
50%                         NaN             NaN      NaN   2.190000e+02
75%                         NaN             NaN      NaN   8.340000e+02
max                         NaN             NaN      NaN   3.436500e+04

            Sessions   Bounce Rate
count   8.348985e+06  8.348985e+06
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean    6.899815e+02  5.246254e+01
std     1.093220e+03  3.215602e+01
min     3.500000e+01  0.000000e+00
25%     7.000000e+01  3.333330e+01
50%     2.370000e+02  5.000000e+01
75%     9.220000e+02  7.640620e+01
max     4.617200e+04  1.000000e+02

In [13]:
# Display rows with missing values
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [Date, Device Category, Browser, # of Visitors, Sessions, Bounce Rate]
Index: []

In [15]:
# Convert 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Check for missing values
print(df.isnull().sum())

# Handle missing values if any (e.g., fill with zeros or drop rows)
# df.fillna(0, inplace=True) # Example of filling missing values
# df.dropna(inplace=True) # Example of dropping rows with missing values

# Basic statistics
print(df.describe())

# Group by 'Device Category' and 'Browser' and aggregate
grouped_df = df.groupby(['Device Category', 'Browser']).agg({
    '# of Visitors': 'sum',
    'Sessions': 'sum',
    'Bounce Rate': 'mean'
}).reset_index()



# Additional Wrangling: Example of adding a new column for Bounce Rate in percentage
df['Bounce Rate (%)'] = df['Bounce Rate']

Date               0
Device Category    0
Browser            0
# of Visitors      0
Sessions           0
Bounce Rate        0
Bounce Rate (%)    0
dtype: int64
                                Date  # of Visitors      Sessions  \
count                        8348985   8.348985e+06  8.348985e+06
mean   2016-08-12 23:16:53.593914624   6.150075e+02  6.899815e+02
min              2014-01-01 00:00:00   3.500000e+01  3.500000e+01
25%              2015-05-01 00:00:00   4.000000e+01  7.000000e+01
50%              2016-08-09 00:00:00   2.190000e+02  2.370000e+02
75%              2017-11-24 00:00:00   8.340000e+02  9.220000e+02
max              2019-08-27 00:00:00   3.436500e+04  4.617200e+04
std                              NaN   9.586180e+02  1.093220e+03

        Bounce Rate  Bounce Rate (%)
count  8.348985e+06     8.348985e+06
mean   5.246254e+01     5.246254e+01
min    0.000000e+00     0.000000e+00
25%    3.333330e+01     3.333330e+01
50%    5.000000e+01     5.000000e+01
75%    7.640620e+01     7.640620e+01
max    1.000000e+02     1.000000e+02
std    3.215602e+01     3.215602e+01

In [16]:
df.head()

,Date,Device Category,Browser,# of Visitors,Sessions,Bounce Rate,Bounce Rate (%)
0,2014-01-01,desktop,Chrome,900,934,55.5675,55.5675
1,2014-01-01,desktop,Firefox,692,761,40.8673,40.8673
2,2014-01-01,desktop,Internet Explorer,1038,1107,31.2556,31.2556
3,2014-01-01,desktop,Opera,35,35,100.0000,100.0000
4,2014-01-01,desktop,Safari,484,554,24.9097,24.9097